<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Buttons</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Buttons</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Default Buttons</h5>
                    <div class="card-body demo-buttons--preview">
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-secondary">Secondary</button>
                        <button class="btn btn-accent">Accent</button>
                        <button class="btn btn-success">Success</button>
                        <button class="btn btn-info">Info</button>
                        <button class="btn btn-warning">Warning</button>
                        <button class="btn btn-danger">Danger</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Floating Buttons</h5>
                    <div class="card-body demo-buttons--preview">
                        <button class="btn btn-primary btn-floating">Primary</button>
                        <button class="btn btn-secondary btn-floating">Secondary</button>
                        <button class="btn btn-accent btn-floating">Accent</button>
                        <button class="btn btn-success btn-floating">Success</button>
                        <button class="btn btn-info btn-floating">Info</button>
                        <button class="btn btn-warning btn-floating">Warning</button>
                        <button class="btn btn-danger btn-floating">Danger</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Outline Buttons</h5>
                    <div class="card-body demo-buttons--preview">
                        <button class="btn btn-primary btn-outline">Primary</button>
                        <button class="btn btn-secondary btn-outline">Secondary</button>
                        <button class="btn btn-accent btn-outline">Accent</button>
                        <button class="btn btn-success btn-outline">Success</button>
                        <button class="btn btn-info btn-outline">Info</button>
                        <button class="btn btn-warning btn-outline">Warning</button>
                        <button class="btn btn-danger btn-outline">Danger</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Rounded Buttons</h5>
                    <div class="card-body demo-buttons--preview">
                        <button class="btn btn-primary btn-rounded">Primary</button>
                        <button class="btn btn-secondary btn-rounded">Secondary</button>
                        <button class="btn btn-accent btn-rounded">Accent</button>
                        <button class="btn btn-success btn-rounded">Success</button>
                        <button class="btn btn-info btn-rounded">Info</button>
                        <button class="btn btn-warning btn-rounded">Warning</button>
                        <button class="btn btn-danger btn-rounded">Danger</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row equal">
            <div class="col-md-6 d-flex">
                <div class="card ">
                    <h5 class="card-header">Mix Button Styles</h5>
                    <div class="card-body demo-buttons--preview">
                        <div class="col-xs-12 m-b-30">
                            <p class="card-text">Rounded with Outline</p>
                            <button class="btn btn-primary btn-rounded btn-outline">Primary</button>
                            <button class="btn btn-secondary btn-rounded btn-outline">Secondary</button>
                            <button class="btn btn-accent  btn-rounded btn-outline">Accent</button>
                            <button class="btn btn-success btn-rounded btn-outline">Success</button>
                            <button class="btn btn-info btn-rounded btn-outline">Info</button>
                            <button class="btn btn-warning btn-rounded btn-outline">Warning</button>
                            <button class="btn btn-danger btn-rounded btn-outline">Danger</button>
                        </div>
                        <div class="col-xs-12 m-b-30">
                            <p class="card-text">Rounded with Floating</p>
                            <button class="btn btn-primary btn-rounded btn-floating">Primary</button>
                            <button class="btn btn-secondary btn-rounded btn-floating">Secondary</button>
                            <button class="btn btn-accent  btn-rounded btn-floating">Accent</button>
                            <button class="btn btn-success btn-rounded btn-floating">Success</button>
                            <button class="btn btn-info btn-rounded btn-floating">Info</button>
                            <button class="btn btn-warning btn-rounded btn-floating">Warning</button>
                            <button class="btn btn-danger btn-rounded btn-floating">Danger</button>
                        </div>
                        <div class="col-xs-12 m-b-30">
                            <p class="card-text">Rounded with Floating and Outline</p>
                            <button class="btn btn-primary btn-rounded btn-floating btn-outline">Primary</button>
                            <button class="btn btn-secondary btn-rounded btn-floating btn-outline">Secondary</button>
                            <button class="btn btn-accent  btn-rounded btn-floating btn-outline">Accent</button>
                            <button class="btn btn-success btn-rounded btn-floating btn-outline">Success</button>
                            <button class="btn btn-info btn-rounded btn-floating btn-outline">Info</button>
                            <button class="btn btn-warning btn-rounded btn-floating btn-outline">Warning</button>
                            <button class="btn btn-danger btn-rounded btn-floating btn-outline">Danger</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Button Sizes</h5>
                    <div class="card-body demo-buttons--preview">
                        <div class="m-b-15">
                            <button class="btn btn-primary btn-lg">Large Button</button>
                            <button class="btn btn-primary btn-rounded btn-lg">Large Button</button>
                            <button class="btn btn-primary btn-outline btn-lg">Large Button</button>
                        </div>
                        <div class="m-b-15">
                            <button class="btn btn-primary">Default Button</button>
                            <button class="btn btn-primary btn-rounded">Default Button</button>
                            <button class="btn btn-primary btn-outline">Default Button</button>
                        </div>
                        <div class="m-b-15">
                            <button class="btn btn-primary btn-sm">Small Button</button>
                            <button class="btn btn-primary btn-rounded btn-sm">Small Button</button>
                            <button class="btn btn-primary btn-outline btn-sm">Small Button</button>
                        </div>
                        <div class="m-b-15">
                            <button class="btn btn-primary btn-block">Block Level Button</button>
                            <button class="btn btn-primary btn-rounded btn-block">Block Level Button</button>
                            <button class="btn btn-primary btn-outline btn-block">Block Level Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>