<div class="container">
    <form class="sign-in-form" action="/">
        <div class="card">
            <div class="card-body">
                <a href="index.html" class="brand text-center d-block m-b-20">
                    <img src="../assets/img/qt-logo@2x.png" alt="QuantumPro Logo" />
                </a>
                <h5 class="sign-in-heading text-center">Forgotten Password?</h5>
                <p class="text-center text-muted">Enter your email to reset your password</p>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="">
                </div>
                <button class="btn btn-primary btn-rounded btn-floating btn-lg btn-block" type="submit">Reset Password</button>
                <p class="text-muted m-t-25 m-b-0 p-0">Don't have an account yet?<a href="/signup"> Create an account</a></p>
            </div>
        </div>
    </form>
</div>