<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">List Groups</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Groups</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Task List</h5>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Make workflow wireframes</label>
                                    <span class="badge badge-pill badge-accent">Design</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Deliver Dashboard design by this Friday</label>
                                    <span class="badge badge-pill badge-warning">Deadline</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Prototype animation for login form</label>
                                    <span class="badge badge-pill badge-primary">Animation</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">Fill out 401k forms</label>
                                    <span class="badge badge-pill badge-info">ToDo</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">Interview with UI designers at 3pm</label>
                                    <span class="badge badge-pill badge-warning">Meeting</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">Finish svg icons for insurance application</label>
                                    <span class="badge badge-pill badge-accent">Design</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">Generate reports from A/B test</label>
                                    <span class="badge badge-pill badge-secondary">Reports</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                                    <label class="custom-control-label" for="customCheck8">Prototype animation for stepper</label>
                                    <span class="badge badge-pill badge-primary">Animation</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">User list</h5>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Rebecca Harris</strong></p>
                                        <span><a href="javascript:void(0)">rebecca.harris@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Robert Norris</strong></p>
                                        <span><a href="javascript:void(0)">robert.norris@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Shawna Cohen</strong></p>
                                        <span><a href="javascript:void(0)">shawna.cohen@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Darrin	Todd</strong></p>
                                        <span><a href="javascript:void(0)">darrin.todd@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Sheryl Wilson</strong></p>
                                        <span><a href="javascript:void(0)">sheryl.wilson@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="align-self-center mr-3 w-40 rounded-circle" src="http://via.placeholder.com/128x128" alt=" ">
                                    <div class="media-body">
                                        <p class="mb-0"><strong class="">Anita Chambers</strong></p>
                                        <span><a href="javascript:void(0)">anita.chambers@authenticgoods.co</a></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Timeline list</h5>
                    <div class="card-body">
                        <div class="timeline timeline-border">
                            <div class="timeline-list">
                                <div class="timeline-info">
                                    <div>Prep for bi-weekly meeting with <a href="javascript:void(0)"><strong>Steven Weinberg</strong></a> </div>
                                    <small class="text-muted">07/05/18, 2:00 PM</small>
                                </div>
                            </div>
                            <div class="timeline-list timeline-border timeline-primary">
                                <div class="timeline-info">
                                    <div>Skype call with development team</div>
                                    <small class="text-muted">07/07/18, 1:00 PM</small>
                                </div>
                            </div>
                            <div class="timeline-list  timeline-border timeline-accent">
                                <div class="timeline-info">
                                    <div>Lunch with Peter Higgs</div>
                                    <small class="text-muted">07/10/18, 10:00 AM</small>
                                </div>
                            </div>
                            <div class="timeline-list  timeline-border timeline-success">
                                <div class="timeline-info">
                                    <div>Lunch with Peter Higgs</div>
                                    <small class="text-muted">07/10/18, 10:00 AM</small>
                                </div>
                            </div>
                            <div class="timeline-list  timeline-border timeline-warning">
                                <div class="timeline-info">
                                    <div><a href="#"><strong>Approve Request</strong></a> for new training material by</div>
                                    <small class="text-muted">07/11/18, 9:00 AM</small>
                                </div>
                            </div>
                            <div class="timeline-list  timeline-border timeline-info">
                                <div class="timeline-info">
                                    <div><a href="#"><strong>RSVP</strong></a> for this year's hackathon.</div>
                                    <small class="text-muted">07/11/18, 1:30 PM</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Icon List </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color">
                                            <i class="icon dripicons-alarm pr-2"></i> Selvage man braid
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-anchor pr-2"></i> Pabst subway tile
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-archive pr-2"></i> Craft beer fingerstache
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-basket pr-2"></i> Microdosing sartorial
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class=" default-color">
                                            <i class="icon dripicons-camcorder pr-2"></i> Raw denim man
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-broadcast pr-2"></i> Unicorn meditation tumblr
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class=" default-color">
                                            <i class="icon dripicons-cutlery text-primary pr-2"></i> Butcher vegan tattooed
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-cart text-success pr-2"></i> Yuccie activated charcoal
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-cloud-download text-danger pr-2"></i> Chia post-ironic adaptogen
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-disc text-warning pr-2"></i> Jean shorts asymmetrical
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class=" default-color">
                                            <i class="icon dripicons-document-edit text-primary pr-2"></i> Post-ironic pinterest
                                        </a>
                                    </li>

                                    <li class="mb-3">
                                        <a href="javascript:void(0)" class="default-color ">
                                            <i class="icon dripicons-device-desktop text-info pr-2"></i> Roof party la croix
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">With badges</h5>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Cras justo odio
                                <span class="badge badge-primary badge-circle">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Dapibus ac facilisis in
                                <span class="badge badge-info badge-circle">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Morbi leo risus
                                <span class="badge badge-accent badge-circle">9</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Porta ac consectetur ac
                                <span class="badge badge-success badge-circle">12</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Vestibulum at eros
                                <span class="badge badge-secondary badge-circle">27</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Flush</h5>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>