<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Basic Tables</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Basic Tables</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="card-deck m-b-30">
            <div class="card">
                <h5 class="card-header">Basic Table</h5>
                <div class="card-body">
                    <p>Using the most basic table markup, here’s how <code class="highlighter-rouge">.table</code>-based tables look in Bootstrap. <strong>All table styles are inherited in Bootstrap 4</strong>, meaning any nested tables will be styled in
                        the same manner as the parent.</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Population</th>
                                    <th>Yearly Change</th>
                                    <th>Net Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>China</td>
                                    <td>1,415,045,928</td>
                                    <td>0.39 %</td>
                                    <td>5,528,531</td>
                                </tr>
                                <tr>
                                    <td>India</td>
                                    <td>1,354,051,854</td>
                                    <td>1.11 %</td>
                                    <td>14,871,727</td>
                                </tr>
                                <tr>
                                    <td>U.S.</td>
                                    <td>326,766,748</td>
                                    <td>0.71 %</td>
                                    <td>2,307,285</td>
                                </tr>
                                <tr>
                                    <td>Indonesia</td>
                                    <td>266,794,980</td>
                                    <td>1.06 %</td>
                                    <td>2,803,601</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>210,867,954</td>
                                    <td>0.75 %</td>
                                    <td>1,579,676</td>
                                </tr>
                                <tr>
                                    <td>Pakistan</td>
                                    <td>200,813,818</td>
                                    <td>1.93 %</td>
                                    <td>3,797,863</td>
                                </tr>
                                <tr>
                                    <td>Nigeria</td>
                                    <td>195,875,237</td>
                                    <td>2.61 %</td>
                                    <td>4,988,926</td>
                                </tr>
                                <tr>
                                    <td>Bangladesh</td>
                                    <td>166,368,149</td>
                                    <td>1.03 %</td>
                                    <td>1,698,398</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>143,964,709</td>
                                    <td>-0.02 %</td>
                                    <td>-25,045</td>
                                </tr>
                                <tr>
                                    <td>Mexico</td>
                                    <td>130,759,074</td>
                                    <td>1.24 %</td>
                                    <td>1,595,798</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Striped rows</h5>
                <div class="card-body">
                    <p>Use <code class="highlighter-rouge">.table-striped</code> to add zebra-striping to any table row within the <code class="highlighter-rouge">&lt;tbody&gt;</code>.</p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Population</th>
                                    <th>Yearly Change</th>
                                    <th>Net Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>China</td>
                                    <td>1,415,045,928</td>
                                    <td>0.39 %</td>
                                    <td>5,528,531</td>
                                </tr>
                                <tr>
                                    <td>India</td>
                                    <td>1,354,051,854</td>
                                    <td>1.11 %</td>
                                    <td>14,871,727</td>
                                </tr>
                                <tr>
                                    <td>U.S.</td>
                                    <td>326,766,748</td>
                                    <td>0.71 %</td>
                                    <td>2,307,285</td>
                                </tr>
                                <tr>
                                    <td>Indonesia</td>
                                    <td>266,794,980</td>
                                    <td>1.06 %</td>
                                    <td>2,803,601</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>210,867,954</td>
                                    <td>0.75 %</td>
                                    <td>1,579,676</td>
                                </tr>
                                <tr>
                                    <td>Pakistan</td>
                                    <td>200,813,818</td>
                                    <td>1.93 %</td>
                                    <td>3,797,863</td>
                                </tr>
                                <tr>
                                    <td>Nigeria</td>
                                    <td>195,875,237</td>
                                    <td>2.61 %</td>
                                    <td>4,988,926</td>
                                </tr>
                                <tr>
                                    <td>Bangladesh</td>
                                    <td>166,368,149</td>
                                    <td>1.03 %</td>
                                    <td>1,698,398</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>143,964,709</td>
                                    <td>-0.02 %</td>
                                    <td>-25,045</td>
                                </tr>
                                <tr>
                                    <td>Mexico</td>
                                    <td>130,759,074</td>
                                    <td>1.24 %</td>
                                    <td>1,595,798</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck m-b-30">
            <div class="card">
                <h5 class="card-header">Bordered table</h5>
                <div class="card-body">
                    <p>Add <code class="highlighter-rouge">.table-bordered</code> for borders on all sides of the table and cells.</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Population</th>
                                    <th>Yearly Change</th>
                                    <th>Net Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>China</td>
                                    <td>1,415,045,928</td>
                                    <td>0.39 %</td>
                                    <td>5,528,531</td>
                                </tr>
                                <tr>
                                    <td>India</td>
                                    <td>1,354,051,854</td>
                                    <td>1.11 %</td>
                                    <td>14,871,727</td>
                                </tr>
                                <tr>
                                    <td>U.S.</td>
                                    <td>326,766,748</td>
                                    <td>0.71 %</td>
                                    <td>2,307,285</td>
                                </tr>
                                <tr>
                                    <td>Indonesia</td>
                                    <td>266,794,980</td>
                                    <td>1.06 %</td>
                                    <td>2,803,601</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>210,867,954</td>
                                    <td>0.75 %</td>
                                    <td>1,579,676</td>
                                </tr>
                                <tr>
                                    <td>Pakistan</td>
                                    <td>200,813,818</td>
                                    <td>1.93 %</td>
                                    <td>3,797,863</td>
                                </tr>
                                <tr>
                                    <td>Nigeria</td>
                                    <td>195,875,237</td>
                                    <td>2.61 %</td>
                                    <td>4,988,926</td>
                                </tr>
                                <tr>
                                    <td>Bangladesh</td>
                                    <td>166,368,149</td>
                                    <td>1.03 %</td>
                                    <td>1,698,398</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>143,964,709</td>
                                    <td>-0.02 %</td>
                                    <td>-25,045</td>
                                </tr>
                                <tr>
                                    <td>Mexico</td>
                                    <td>130,759,074</td>
                                    <td>1.24 %</td>
                                    <td>1,595,798</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Borderless table</h5>
                <div class="card-body">
                    <p>Add <code class="highlighter-rouge">.table-borderless</code> for a table without borders.</p>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Population</th>
                                    <th>Yearly Change</th>
                                    <th>Net Change</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>China</td>
                                    <td>1,415,045,928</td>
                                    <td>0.39 %</td>
                                    <td>5,528,531</td>
                                </tr>
                                <tr>
                                    <td>India</td>
                                    <td>1,354,051,854</td>
                                    <td>1.11 %</td>
                                    <td>14,871,727</td>
                                </tr>
                                <tr>
                                    <td>U.S.</td>
                                    <td>326,766,748</td>
                                    <td>0.71 %</td>
                                    <td>2,307,285</td>
                                </tr>
                                <tr>
                                    <td>Indonesia</td>
                                    <td>266,794,980</td>
                                    <td>1.06 %</td>
                                    <td>2,803,601</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>210,867,954</td>
                                    <td>0.75 %</td>
                                    <td>1,579,676</td>
                                </tr>
                                <tr>
                                    <td>Pakistan</td>
                                    <td>200,813,818</td>
                                    <td>1.93 %</td>
                                    <td>3,797,863</td>
                                </tr>
                                <tr>
                                    <td>Nigeria</td>
                                    <td>195,875,237</td>
                                    <td>2.61 %</td>
                                    <td>4,988,926</td>
                                </tr>
                                <tr>
                                    <td>Bangladesh</td>
                                    <td>166,368,149</td>
                                    <td>1.03 %</td>
                                    <td>1,698,398</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>143,964,709</td>
                                    <td>-0.02 %</td>
                                    <td>-25,045</td>
                                </tr>
                                <tr>
                                    <td>Mexico</td>
                                    <td>130,759,074</td>
                                    <td>1.24 %</td>
                                    <td>1,595,798</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">Responsive table</h5>
                    <div class="card-body">
                        <p>Responsive tables allow tables to be scrolled horizontally with ease. Make any table responsive across all viewports by wrapping a <code class="highlighter-rouge">.table</code> with <code class="highlighter-rouge">.table-responsive</code>.
                            Or, pick a maximum breakpoint with which to have a responsive table up to by using <code class="highlighter-rouge">.table-responsive</code>.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Population</th>
                                        <th>Yearly Change</th>
                                        <th>Net Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>China</td>
                                        <td>1,415,045,928</td>
                                        <td>0.39 %</td>
                                        <td>5,528,531</td>
                                    </tr>
                                    <tr>
                                        <td>India</td>
                                        <td>1,354,051,854</td>
                                        <td>1.11 %</td>
                                        <td>14,871,727</td>
                                    </tr>
                                    <tr>
                                        <td>U.S.</td>
                                        <td>326,766,748</td>
                                        <td>0.71 %</td>
                                        <td>2,307,285</td>
                                    </tr>
                                    <tr>
                                        <td>Indonesia</td>
                                        <td>266,794,980</td>
                                        <td>1.06 %</td>
                                        <td>2,803,601</td>
                                    </tr>
                                    <tr>
                                        <td>Brazil</td>
                                        <td>210,867,954</td>
                                        <td>0.75 %</td>
                                        <td>1,579,676</td>
                                    </tr>
                                    <tr>
                                        <td>Pakistan</td>
                                        <td>200,813,818</td>
                                        <td>1.93 %</td>
                                        <td>3,797,863</td>
                                    </tr>
                                    <tr>
                                        <td>Nigeria</td>
                                        <td>195,875,237</td>
                                        <td>2.61 %</td>
                                        <td>4,988,926</td>
                                    </tr>
                                    <tr>
                                        <td>Bangladesh</td>
                                        <td>166,368,149</td>
                                        <td>1.03 %</td>
                                        <td>1,698,398</td>
                                    </tr>
                                    <tr>
                                        <td>Russia</td>
                                        <td>143,964,709</td>
                                        <td>-0.02 %</td>
                                        <td>-25,045</td>
                                    </tr>
                                    <tr>
                                        <td>Mexico</td>
                                        <td>130,759,074</td>
                                        <td>1.24 %</td>
                                        <td>1,595,798</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>