<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Card Actions</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Cards</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Card Actions</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-dark">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-border-primary">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-border-accent">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-accent">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-border-success">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-border-info">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-success">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-info">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-border-danger">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-border-warning">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-danger">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body block-el">
                        <p>
                            Actually ramps kinfolk, street art typewriter normcore pabst wayfarers. Vinyl chia PBR&B distillery meh drinking vinegar seitan banjo keffiyeh irony quinoa. Vaporware flannel tousled, beard tacos everyday carry skateboard letterpress man braid offal fixie.
                            Gentrify hashtag prism, schlitz pinterest edison bulb whatever photo booth biodiesel marfa bitters. Forage flexitarian tbh williamsburg, aesthetic pop-up meggings tilde hashtag affogato VHS prism tumblr. Pop-up pitchfork cliche
                            leggings, single-origin coffee listicle umami hoodie green juice yuccie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-warning">
                    <div class="card-header">Card Actions
                        <ul class="actions top-right">
                            <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                            <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                            <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                            <li class="dropdown">
                                <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animation" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>
                            Helvetica letterpress bicycle rights banh mi keffiyeh af. Food truck shabby chic actually mixtape twee. Pabst blog messenger bag, four loko vape post-ironic paleo freegan. Twee raw denim brooklyn cornhole, polaroid cardigan 8-bit cred pinterest biodiesel.
                            Seitan woke vinyl, hoodie fingerstache irony bicycle rights vape sustainable DIY skateboard. Quinoa tumeric venmo, af lyft fashion axe slow-carb. Blue bottle chillwave tote bag, gastropub shabby chic quinoa snackwave williamsburg
                            readymade authentic kombucha 8-bit pickled fingerstache. Sustainable adaptogen pour-over +1 hoodie,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>