<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Colors</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Colors</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Color palette</h5>
                    <div class="card-body bg-light">
                        <p class="card-text">QuantumPro comes with customized Bootstrap colors, plus custom brand colors that can be applied to the UI Elements.</p>
                        <div class="row">
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-primary">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        primary
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-secondary">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        secondary
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-accent">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        accent
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-success">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        success
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-danger">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        danger
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-warning">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        warning
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-info">
                                        <div class="col bg-lt"></div>
                                        <div class="col p-t-30 p-b-30"></div>
                                        <div class="col bg-dk"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        info
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="card no-shadow border">
                                    <div class="d-flex bg-light">
                                        <div class="col bg-white"></div>
                                        <div class="col p-t-30 p-b-30 bg-light"></div>
                                        <div class="col bg-dark"></div>
                                    </div>
                                    <div class="p-20 text-center">
                                        white | light | dark
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Utility classes</h5>
                    <div class="card-body">
                        <p class="card-text">You can easily apply QuantumPro's color palette to any UI Element through these utility classes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Examples</h5>
                    <div class="card-body">
                        <p class="card-text">You can easily apply QuantumPro's color palette to any UI Element through these utility classes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>