<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Alerts</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Alerts</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Default Style
                    </h5>
                    <div class="card-body">
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>Brand Alert!</strong> You successfully <a href="#" class="alert-link">read this important alert</a> message.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                            <strong>Secondary Alert!</strong> This alert <a href="#" class="alert-link">needs your attention</a>, but it's not super important.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Well done!</strong> You successfully <a href="#" class="alert-link">read this important</a> alert message.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Oh snap!</strong> Change a few things up and <a href="#" class="alert-link">try submitting again</a>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Warning!</strong> <a href="#" class="alert-link">Better check yourself</a>, you're not looking too good.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Heads up!</strong> This alert <a href="#" class="alert-link">needs your attention</a>, but it's not super important.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Rounded Style
                    </h5>

                    <div class="card-body">
                        <div class="alert alert-rounded alert-primary alert-dismissible fade show" role="alert">
                            <strong>Brand Alert!</strong> You successfully <a href="#" class="alert-link">read this important alert</a> message.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-rounded alert-secondary alert-dismissible fade show" role="alert">
                            <strong>Secondary Alert!</strong> This alert <a href="#" class="alert-link">needs your attention</a>, but it's not super important.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-rounded alert-success alert-dismissible fade show" role="alert">
                            <strong>Well done!</strong> You successfully <a href="#" class="alert-link">read this important</a> alert message.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-rounded alert-danger alert-dismissible fade show" role="alert">
                            <strong>Oh snap!</strong> Change a few things up and <a href="#" class="alert-link">try submitting again</a>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-rounded alert-warning alert-dismissible fade show" role="alert">
                            <strong>Warning!</strong> <a href="#" class="alert-link">Better check yourself</a>, you're not looking too good.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-rounded alert-info alert-dismissible fade show" role="alert">
                            <strong>Heads up!</strong> This alert <a href="#" class="alert-link">needs your attention</a>, but it's not super important.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Outline Style
                    </h5>
                    <div class="card-body">
                        <div class="alert alert-primary alert-outline alert-dismissible fade show" role="alert">
                            This is a primary alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-secondary alert-outline alert-dismissible fade show" role="alert">
                            This is a secondary alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-success alert-outline alert-dismissible fade show" role="alert">
                            This is a success alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-danger alert-outline alert-dismissible fade show" role="alert">
                            This is a danger alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-warning alert-outline alert-dismissible fade show" role="alert">
                            This is a warning alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-info alert-outline alert-dismissible fade show" role="alert">
                            This is a info alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Alert Icons
                        <ul class="actions top-right">
                            <li>
                                <a data-toggle="collapse" href="#code-alert--4" role="button" aria-expanded="false" aria-controls="code-alert--4">
                                    <i class="zmdi zmdi-code"></i>
                                </a>
                            </li>
                        </ul>
                    </h5>
                    <!-- START - CODE FOR DEMO PURPOSE ONLY -->
                    <div class="collapse code-block" id="code-alert--4">
                        <div class="bd-clipboard">
                            <button class="btn btn-clipboard" data-clipboard-target="#code-alert--4">
            Copy
          </button>
                        </div>
                        <pre><code class="html">
          &lt;div class="alert alert-primary alert-outline alert-dismissible fade show" role="alert"&gt;
          &lt;div class="icon"&gt;&lt;i class="la la-warning"&gt;&lt;/i&gt;&lt;/div&gt;
          &lt;div class="text"&gt;This is a primary alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.&lt;/div&gt;
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="alert alert-secondary alert-outline alert-dismissible fade show" role="alert"&gt;
          &lt;div class="icon"&gt;&lt;i class="la la-warning"&gt;&lt;/i&gt;&lt;/div&gt;
          &lt;div class="text"&gt;This is a secondary alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.&lt;/div&gt;
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="alert alert-success alert-outline alert-dismissible fade show" role="alert"&gt;
          This is a success alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="alert alert-danger alert-outline alert-dismissible fade show" role="alert"&gt;
          This is a danger alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="alert alert-warning alert-outline alert-dismissible fade show" role="alert"&gt;
          This is a warning alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="alert alert-info alert-outline alert-dismissible fade show" role="alert"&gt;
          This is a info alert with &lt;a href="#" class="alert-link"&gt;an example link&lt;/a&gt;, and a dismissible button.
          &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;
          &lt;span aria-hidden="true" class="la la-close"&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;/div&gt;
        </code></pre>
                    </div>
                    <!-- END - CODE FOR DEMO PURPOSE ONLY -->
                    <div class="card-body">
                        <div class="alert alert-primary alert-outline alert-dismissible fade show" role="alert">
                            <div class="icon"><i class="la la-warning"></i></div>
                            <div class="text">This is a primary alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.</div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-secondary alert-outline alert-dismissible fade show" role="alert">
                            <div class="icon"><i class="la la-warning"></i></div>
                            <div class="text">This is a secondary alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.</div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-success alert-outline alert-dismissible fade show" role="alert">
                            This is a success alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-danger alert-outline alert-dismissible fade show" role="alert">
                            This is a danger alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-warning alert-outline alert-dismissible fade show" role="alert">
                            This is a warning alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                        <div class="alert alert-info alert-outline alert-dismissible fade show" role="alert">
                            This is a info alert with <a href="#" class="alert-link">an example link</a>, and a dismissible button.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="la la-close"></span>
          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>