<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Modals</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Modals</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">Basic Modal Demos</h5>
                    <div class="card-body">
                        <p>
                            Toggle a basic modal demo by clicking the button below.
                        </p>
                        <div class="row">
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Basic Modal
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary btn-rounded btn-floating btn-outline" data-toggle="modal" data-target="#exampleModal">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Scrolling long content
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-accent btn-rounded btn-floating btn-outline" data-toggle="modal" data-target="#exampleModalLong">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Scrolling fixed height
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-accent btn-rounded btn-floating btn-outline" data-toggle="modal" data-target="#exampleModalFixedHeight">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Vertically centered
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-info btn-rounded btn-floating btn-outline" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Small modal
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success btn-rounded btn-floating btn-outline" data-toggle="modal" data-target=".bd-example-modal-sm">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="col-5">
                                            Large modal
                                        </div>
                                        <div class="col-7">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success btn-rounded btn-floating btn-outline" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Launch demo
                  </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Modal Sizes &amp; Positions </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-xl-3">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Modal Sizes</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="mock bg-dark h-300 m-auto">
                                            <div class="action-bar">
                                                <span class="action close-button"></span>
                                                <span class="action minimize-button"></span>
                                                <span class="action expand-button"></span>
                                            </div>
                                            <div class="modal-center"><span aria-hidden="true" class="zmdi zmdi-close"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item text-center ">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".bd-example-modal-sm">
                  Small modal
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".bd-example-modal-lg">
                  Large modal
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-xl">
                  X-Large modal
                </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Corner Modal</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="mock bg-dark h-300 m-auto">
                                            <div class="action-bar">
                                                <span class="action close-button"></span>
                                                <span class="action minimize-button"></span>
                                                <span class="action expand-button"></span>
                                            </div>
                                            <div class="modal-corner-bottom-right"><span aria-hidden="true" class="zmdi zmdi-close"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item text-center ">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-top-left-corner">
                  Top Left Corner
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-top-right-corner">
                  Top Right Corner
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-bottom-left-corner">
                  Bottom Left Corner
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-bottom-right-corner">
                  Bottom Right Corner
                </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Side Modal</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="mock bg-dark h-300 m-auto">
                                            <div class="action-bar">
                                                <span class="action close-button"></span>
                                                <span class="action minimize-button"></span>
                                                <span class="action expand-button"></span>
                                            </div>
                                            <div class="modal-side-right"><span aria-hidden="true" class="zmdi zmdi-close"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item text-center ">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-left-side">
                  Left Side Modal
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-right-side">
                    Right Side Modal
                </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xl-3">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Frame Modal</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="mock bg-dark h-300 m-auto">
                                            <div class="action-bar">
                                                <span class="action close-button"></span>
                                                <span class="action minimize-button"></span>
                                                <span class="action expand-button"></span>
                                            </div>
                                            <div class="modal-frame-bottom"><span aria-hidden="true" class="zmdi zmdi-close"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item text-center ">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-top-frame">
                  Top Frame Modal
                </button>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-rounded btn-floating" data-toggle="modal" data-target=".modal-bottom-frame">
                  Bottom Frame Modal
                </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- Start Modal Demos ----------------->
<!-- BASIC MODAL DEMO -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Scrolling long content modal demo -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage. Ramps sartorial ugh stumptown af bicycle rights.
                </p>
                <p>
                    Heirloom jean shorts unicorn, vaporware blog trust fund hella single-origin coffee thundercats ramps succulents humblebrag photo booth chillwave crucifix. Hot chicken franzen mustache man braid, single-origin coffee jean shorts cred. Fixie 8-bit aesthetic
                    mixtape. Heirloom tofu cloud bread, deep v hammock af glossier. Man braid irony salvia synth mustache quinoa.
                </p>
                <p>
                    Godard meditation bushwick vice fam. PBR&B marfa tacos tofu, chillwave messenger bag freegan wayfarers health goth. Tbh plaid fingerstache, vaporware VHS tousled ennui deep v iceland bespoke mustache aesthetic banh mi waistcoat. Venmo fanny pack ramps
                    before they sold out, mlkshk everyday carry microdosing fam fingerstache truffaut marfa glossier enamel pin drinking vinegar. Chicharrones offal gastropub vinyl, fingerstache vaporware coloring book. Williamsburg offal retro distillery
                    narwhal godard ennui woke waistcoat poke. Post-ironic 3 wolf moon you probably haven't heard of them, wolf shabby chic ennui tilde skateboard single-origin coffee salvia.
                </p>
                <p>
                    Single-origin coffee whatever snackwave venmo meditation pitchfork. Messenger bag mlkshk mustache typewriter marfa, occupy man braid. Organic retro williamsburg gentrify normcore meggings. Hashtag pitchfork chillwave selvage, poke raclette salvia.
                </p>
                <p>
                    Schlitz austin cliche mustache tbh. Typewriter put a bird on it letterpress small batch retro microdosing. Portland kinfolk kogi, af try-hard chia gochujang subway tile. Man bun edison bulb jean shorts occupy.
                </p>
                <p>
                    Vexillologist lyft affogato tofu fingerstache. Leggings sartorial small batch subway tile. Synth cronut beard twee taiyaki. Austin ugh hexagon fam drinking vinegar mlkshk fixie gastropub. Banh mi kale chips kickstarter pitchfork, stumptown forage helvetica
                    intelligentsia DIY sartorial ramps venmo. Air plant chia adaptogen shoreditch hexagon. Mlkshk biodiesel single-origin coffee scenester mixtape banjo pour-over letterpress franzen heirloom.
                </p>
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas. Flexitarian lyft 8-bit succulents viral iceland taiyaki beard ramps cliche try-hard schlitz edison
                    bulb. Small batch fashion axe kogi single-origin coffee roof party knausgaard. Raw denim seitan palo santo, pickled stumptown lumbersexual slow-carb leggings. Gentrify retro woke keytar lomo skateboard mlkshk.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Scrolling long content modal demo -->
<div class="modal fade" id="exampleModalFixedHeight" tabindex="-1" role="dialog" aria-labelledby="exampleModalFixedHeightTitle" aria-hidden="true" data-modal="scroll">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFixedHeightTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage. Ramps sartorial ugh stumptown af bicycle rights.
                </p>
                <p>
                    Heirloom jean shorts unicorn, vaporware blog trust fund hella single-origin coffee thundercats ramps succulents humblebrag photo booth chillwave crucifix. Hot chicken franzen mustache man braid, single-origin coffee jean shorts cred. Fixie 8-bit aesthetic
                    mixtape. Heirloom tofu cloud bread, deep v hammock af glossier. Man braid irony salvia synth mustache quinoa.
                </p>
                <p>
                    Godard meditation bushwick vice fam. PBR&B marfa tacos tofu, chillwave messenger bag freegan wayfarers health goth. Tbh plaid fingerstache, vaporware VHS tousled ennui deep v iceland bespoke mustache aesthetic banh mi waistcoat. Venmo fanny pack ramps
                    before they sold out, mlkshk everyday carry microdosing fam fingerstache truffaut marfa glossier enamel pin drinking vinegar. Chicharrones offal gastropub vinyl, fingerstache vaporware coloring book. Williamsburg offal retro distillery
                    narwhal godard ennui woke waistcoat poke. Post-ironic 3 wolf moon you probably haven't heard of them, wolf shabby chic ennui tilde skateboard single-origin coffee salvia.
                </p>
                <p>
                    Single-origin coffee whatever snackwave venmo meditation pitchfork. Messenger bag mlkshk mustache typewriter marfa, occupy man braid. Organic retro williamsburg gentrify normcore meggings. Hashtag pitchfork chillwave selvage, poke raclette salvia.
                </p>
                <p>
                    Schlitz austin cliche mustache tbh. Typewriter put a bird on it letterpress small batch retro microdosing. Portland kinfolk kogi, af try-hard chia gochujang subway tile. Man bun edison bulb jean shorts occupy.
                </p>
                <p>
                    Vexillologist lyft affogato tofu fingerstache. Leggings sartorial small batch subway tile. Synth cronut beard twee taiyaki. Austin ugh hexagon fam drinking vinegar mlkshk fixie gastropub. Banh mi kale chips kickstarter pitchfork, stumptown forage helvetica
                    intelligentsia DIY sartorial ramps venmo. Air plant chia adaptogen shoreditch hexagon. Mlkshk biodiesel single-origin coffee scenester mixtape banjo pour-over letterpress franzen heirloom.
                </p>
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas. Flexitarian lyft 8-bit succulents viral iceland taiyaki beard ramps cliche try-hard schlitz edison
                    bulb. Small batch fashion axe kogi single-origin coffee roof party knausgaard. Raw denim seitan palo santo, pickled stumptown lumbersexual slow-carb leggings. Gentrify retro woke keytar lomo skateboard mlkshk.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Vertically centered modal demo-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas. Flexitarian lyft 8-bit succulents viral iceland taiyaki beard ramps cliche try-hard schlitz edison
                    bulb. Small batch fashion axe kogi single-origin coffee roof party knausgaard. Raw denim seitan palo santo, pickled stumptown lumbersexual slow-carb leggings. Gentrify retro woke keytar lomo skateboard mlkshk.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Large Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas. Flexitarian lyft 8-bit succulents viral iceland taiyaki beard ramps cliche try-hard schlitz edison
                    bulb. Small batch fashion axe kogi single-origin coffee roof party knausgaard. Raw denim seitan palo santo, pickled stumptown lumbersexual slow-carb leggings. Gentrify retro woke keytar lomo skateboard mlkshk.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- XLarge modal -->
<div class="modal fade modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Large Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas. Flexitarian lyft 8-bit succulents viral iceland taiyaki beard ramps cliche try-hard schlitz edison
                    bulb. Small batch fashion axe kogi single-origin coffee roof party knausgaard. Raw denim seitan palo santo, pickled stumptown lumbersexual slow-carb leggings. Gentrify retro woke keytar lomo skateboard mlkshk.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Small Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Narwhal tacos offal brooklyn umami. Vinyl next level glossier, shaman locavore craft beer vegan lumbersexual polaroid try-hard distillery poke brunch migas.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION TOP LEFT CORNER -->
<div class="modal modal-top-left-corner fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION TOP RIGHT CORNER -->
<div class="modal modal-top-right-corner fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION BOTTOM LEFT CORNER -->
<div class="modal modal-bottom-left-corner fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION BOTTOM RIGHT CORNER -->
<div class="modal modal-bottom-right-corner fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION LEFT SIDE -->
<div class="modal modal-left-side fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION RIGHT SIDE -->
<div class="modal modal-right-side fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION RIGHT SIDE -->
<div class="modal modal-top-frame fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- LOCATION RIGHT SIDE -->
<div class="modal modal-bottom-frame fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor amet sriracha neutra synth, typewriter adaptogen fingerstache dreamcatcher drinking vinegar photo booth yr wayfarers kale chips pork belly hashtag. Affogato whatever hexagon direct trade, pork belly jianbing subway tile mumblecore taxidermy.
                    Pabst deep v butcher roof party single-origin coffee kale chips. Artisan hella hashtag kogi mixtape tacos. Tilde poutine four dollar toast lyft forage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Demos ----------------->