<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Scrollable</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Scrollable</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Minimal Dark</h5>
                    <div class="card-body" style="max-height:400px" data-scroll="minimal-dark">
                        <p>
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p>
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p>
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p>
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Dark</h5>
                    <div class="card-body" style="max-height:400px" data-scroll="dark">
                        <p>
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p>
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p>
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p>
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Dark 3</h5>
                    <div class="card-body" style="max-height:400px" data-scroll="dark-3">
                        <p>
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p>
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p>
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p>
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-dark ">
                    <h5 class="card-header text-light">Minimal Dark</h5>
                    <div class="card-body" style="max-height:400px" data-scroll="minimal-light">
                        <p class="text-light">
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p class="text-light">
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p class="text-light">
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p class="text-light">
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-dark">
                    <h5 class="card-header text-light">Dark</h5>
                    <div class="card-body text-light" style="max-height:400px" data-scroll="light">
                        <p class="text-light">
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p class="text-light">
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p class="text-light">
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p class="text-light">
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-dark">
                    <h5 class="card-header text-light">Dark 3</h5>
                    <div class="card-body text-light" style="max-height:400px" data-scroll="light-3">
                        <p class="text-light">
                            Lorem ipsum dolor amet single-origin coffee ethical subway tile disrupt, swag polaroid small batch raw denim palo santo dreamcatcher ugh bicycle rights. Kinfolk swag freegan, adaptogen celiac fanny pack palo santo man braid banh mi 8-bit. Whatever austin
                            chartreuse, vegan scenester beard literally tacos mustache aesthetic messenger bag. Swag brooklyn kickstarter banjo thundercats VHS edison bulb chambray food truck. Drinking vinegar offal beard, selvage humblebrag cold-pressed
                            taiyaki keffiyeh viral. XOXO narwhal microdosing small batch synth glossier truffaut roof party shoreditch next level letterpress semiotics. Twee aesthetic vice brunch readymade dreamcatcher before they sold out raclette pinterest
                            lo-fi pour-over.
                        </p>
                        <p class="text-light">
                            Sustainable plaid bespoke irony poutine. Food truck kombucha helvetica craft beer live-edge stumptown chillwave tilde 8-bit tumblr celiac raw denim. Chambray shaman 8-bit kinfolk, authentic portland lumbersexual pinterest VHS. Keffiyeh asymmetrical actually
                            venmo poutine brooklyn. Marfa humblebrag hella vegan, before they sold out shaman next level meggings kombucha quinoa selvage messenger bag bitters. Butcher umami brunch biodiesel, wolf art party raclette tbh deep v photo booth
                            kale chips hell of. Slow-carb subway tile kale chips squid dreamcatcher unicorn.
                        </p>
                        <p class="text-light">
                            Semiotics shoreditch venmo, pabst keytar gentrify heirloom prism. Post-ironic chartreuse blue bottle ramps intelligentsia direct trade franzen celiac pour-over. Post-ironic iPhone schlitz master cleanse la croix scenester. Tote bag meditation butcher
                            live-edge YOLO health goth, readymade cardigan schlitz disrupt activated charcoal cronut lyft.
                        </p>
                        <p class="text-light">
                            Sustainable lyft raw denim hoodie everyday carry tousled bespoke. Master cleanse iPhone thundercats poke, street art pop-up aesthetic mumblecore post-ironic literally skateboard asymmetrical vice you probably haven't heard of them. Tacos hashtag butcher,
                            pickled organic trust fund kitsch photo booth umami selfies intelligentsia migas taxidermy humblebrag vaporware. Retro lomo mlkshk kinfolk, taiyaki cronut quinoa. VHS direct trade schlitz craft beer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>