<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Preloaders</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Preloaders</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Basic Preloaders</h5>
                    <div class="card-body">
                        <div class="preloader pl-xxl pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-xl pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-md pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-sm pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-xs pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-xxs pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Preloader States</h5>
                    <div class="card-body">
                        <div class="preloader pl-lg">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-danger">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-success">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-info">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-warning">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                        <div class="preloader pl-lg pls-primary">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
              </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Preloaders on Buttons</h5>
                    <div class="card-body demo-buttons--preview">
                        <div class="row">


                            <div class="col-md-6">
                                <button class="btn btn-primary qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-secondary qt-loader-secondary qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-accent qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-success qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-info qt-loader qt-loader-mini qt-loader-right"> Button</button>
                                <div class="clear"></div>
                                <button class="btn btn-primary btn-floating qt-loader qt-loader-mini qt-loader-left">Button</button>
                                <button class="btn btn-secondary qt-loader-secondary btn-floating qt-loader qt-loader-mini qt-loader-left">Button</button>
                                <button class="btn btn-accent btn-floating qt-loader qt-loader-mini qt-loader-left">Button</button>
                                <button class="btn btn-success btn-floating qt-loader qt-loader-mini qt-loader-left">Button</button>
                                <button class="btn btn-info btn-floating qt-loader qt-loader-mini qt-loader-left"> Button</button>
                            </div>
                            <div class="col-md-6">


                                <button class="btn btn-primary btn-rounded btn-floating qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-secondary qt-loader-secondary btn-rounded btn-floating qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-accent btn-rounded btn-floating qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-success btn-rounded btn-floating qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <button class="btn btn-info btn-rounded btn-floating qt-loader qt-loader-mini qt-loader-right">Button</button>
                                <div class="clear"></div>
                                <button class="btn btn-primary btn-rounded btn-floating btn-outline qt-loader qt-loader-mini qt-loader-primary qt-loader-left">Button</button>
                                <button class="btn btn-secondary btn-rounded btn-floating btn-outline qt-loader qt-loader-mini qt-loader-secondary qt-loader-left">Button</button>
                                <button class="btn btn-accent btn-rounded btn-floating btn-outline qt-loader qt-loader-mini qt-loader-accent qt-loader-left">Button</button>
                                <button class="btn btn-success btn-rounded btn-floating btn-outline qt-loader qt-loader-mini  qt-loader-success qt-loader-left">Button</button>
                                <button class="btn btn-info btn-rounded btn-floating btn-outline qt-loader qt-loader-mini qt-loader-info qt-loader-left">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>