<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">SweetAlert2</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li>
                        <li class="breadcrumb-item active" aria-current="page">SweetAlert2</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">SweetAlert Demos</h5>
                    <div class="card-body">
                        <p>
                            SweetAlert makes popup messages easy and pretty.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A basic message
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-rounded btn-floating" id="sweetalert_demo_1">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A title with a text under
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-accent btn-rounded btn-floating" id="sweetalert_demo_2">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A modal with a title, an error icon, a text, and a footer
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-secondary btn-rounded btn-floating" id="sweetalert_demo_3">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A modal window with a long content inside
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-rounded btn-floating" id="sweetalert_demo_4">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    Custom HTML description and buttons with ARIA labels
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info btn-rounded btn-floating" id="sweetalert_demo_5">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A custom positioned dialog
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success btn-rounded btn-floating" id="sweetalert_demo_6">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    Custom animation (Animate.css)
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning btn-rounded btn-floating" id="sweetalert_demo_7">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A warning message, with a function attached to the "Confirm"-button...
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger btn-rounded btn-floating" id="sweetalert_demo_8">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    ... and by passing a parameter, you can execute something else for "Cancel".
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-rounded btn-floating" id="sweetalert_demo_9">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A message with a custom image and CSS animation disabled
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info btn-rounded btn-floating" id="sweetalert_demo_10">
                Launch demo
              </button>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-5">
                                    A message with auto close timer
                                </div>
                                <div class="col-7">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success btn-rounded btn-floating" id="sweetalert_demo_11">
                Launch demo
              </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>