<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Badges</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Badges</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Basic Example</h5>
                    <div class="card-body">
                        <p class="card-text">Badges scale to match the size of the immediate parent element by using relative font sizing.</p>
                        <h1>Example heading <span class="badge badge-secondary">New</span></h1>
                        <h2>Example heading <span class="badge badge-secondary">New</span></h2>
                        <h3>Example heading <span class="badge badge-secondary">New</span></h3>
                        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
                        <h5>Example heading <span class="badge badge-secondary">New</span></h5>
                        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Counter Badge</h5>
                    <div class="card-body">
                        <p class="card-text">Badges can be used as part of links or buttons to provide a counter.</p>
                        <div class="m-b-15 demo-buttons--preview">
                            <button type="button" class="btn btn-primary">
            Notifications <span class="badge badge-light">4</span>
          </button>
                            <button type="button" class="btn btn-secondary">
            Notifications <span class="badge badge-light">16</span>
          </button>
                            <button type="button" class="btn btn-accent">
            Notifications <span class="badge badge-light">627</span>
          </button>
                            <button type="button" class="btn btn-success">
            Notifications <span class="badge badge-light">4</span>
          </button>
                            <button type="button" class="btn btn-danger">
            Notifications <span class="badge badge-light">16</span>
          </button>
                            <button type="button" class="btn btn-warning">
            Notifications <span class="badge badge-light">627</span>
          </button>
                            <button type="button" class="btn btn-info">
            Notifications <span class="badge badge-light">840</span>
          </button>
                        </div>
                        <div class="m-b-15 demo-buttons--preview">
                            <button type="button" class="btn btn-primary btn-outline">
            Notifications <span class="badge badge-primary">4</span>
          </button>
                            <button type="button" class="btn btn-secondary btn-outline">
            Notifications <span class="badge badge-secondary">16</span>
          </button>
                            <button type="button" class="btn btn-accent btn-outline">
            Notifications <span class="badge badge-accent">627</span>
          </button>
                            <button type="button" class="btn btn-success btn-outline">
            Notifications <span class="badge badge-success">4</span>
          </button>
                            <button type="button" class="btn btn-danger btn-outline">
            Notifications <span class="badge badge-danger">16</span>
          </button>
                            <button type="button" class="btn btn-warning btn-outline">
            Notifications <span class="badge badge-warning">627</span>
          </button>
                            <button type="button" class="btn btn-info btn-outline">
            Notifications <span class="badge badge-info">840</span>
          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Contextual variations</h5>
                    <div class="card-body">
                        <p class="card-text">Add any of the below mentioned modifier classes to change the appearance of a badge.</p>
                        <div class="m-b-15 demo-badge--preview">
                            <span class="badge badge-primary">Primary</span>
                            <span class="badge badge-secondary">Secondary</span>
                            <span class="badge badge-accent">Accent</span>
                            <span class="badge badge-success">Success</span>
                            <span class="badge badge-danger">Danger</span>
                            <span class="badge badge-warning">Warning</span>
                            <span class="badge badge-info">Info</span>
                            <span class="badge badge-light">Light</span>
                            <span class="badge badge-dark">Dark</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Pill badges</h5>
                    <div class="card-body">
                        <p class="card-text">Use the <code>.badge-pill</code> modifier class to make badges more rounded (with a larger <code>border-radius</code> and additional horizontal padding). </p>
                        <div class="m-b-15 demo-badge--preview">
                            <span class="badge badge-pill badge-primary">Primary</span>
                            <span class="badge badge-pill badge-secondary">Secondary</span>
                            <span class="badge badge-pill badge-accent">Accent</span>
                            <span class="badge badge-pill badge-success">Success</span>
                            <span class="badge badge-pill badge-danger">Danger</span>
                            <span class="badge badge-pill badge-warning">Warning</span>
                            <span class="badge badge-pill badge-info">Info</span>
                            <span class="badge badge-pill badge-light">Light</span>
                            <span class="badge badge-pill badge-dark">Dark</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Links</h5>
                    <div class="card-body">
                        <p class="card-text">Using the contextual <code>.badge-*</code> classes on an <code>&lt;a&gt;</code> element quickly provide actionable badges with hover and focus states.</p>
                        <div class="m-b-15 demo-badge--preview">
                            <a href="#" class="badge badge-primary">Primary</a>
                            <a href="#" class="badge badge-secondary">Secondary</a>
                            <a href="#" class="badge badge-accent">Accent</a>
                            <a href="#" class="badge badge-success">Success</a>
                            <a href="#" class="badge badge-danger">Danger</a>
                            <a href="#" class="badge badge-warning">Warning</a>
                            <a href="#" class="badge badge-info">Info</a>
                            <a href="#" class="badge badge-light">Light</a>
                            <a href="#" class="badge badge-dark">Dark</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>