<div class="content">
    <header class="page-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h1 class="separator">Typography</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon dripicons-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">UI Kit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Typography</li>
                    </ol>
                </nav>
            </div>
            <ul class="actions top-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                        <div class="dropdown-header">
                            Quick Actions
                        </div>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-clockwise"></i> Refresh
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-gear"></i> Manage Widgets
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-cloud-download"></i> Export
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="icon dripicons-help"></i> Support
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="page-content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Headings</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>
                                    h1. Heading 1
                                </h1>
                                <div class="m-b-10"></div>
                                <h2>
                                    h2. Heading 2
                                </h2>
                                <div class="m-b-10"></div>
                                <h3>
                                    h3. Heading 3
                                </h3>
                                <div class="m-b-10"></div>
                                <h4>
                                    h4. Heading 4
                                </h4>
                                <div class="m-b-10"></div>
                                <h5>
                                    h5. Heading 5
                                </h5>
                                <div class="m-b-10"></div>
                                <h6>
                                    h6. Heading 6
                                </h6>
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-primary">
                                    h1. Heading 1
                                </h1>
                                <div class="m-b-10"></div>
                                <h2 class="text-secondary">
                                    h2. Heading 2
                                </h2>
                                <div class="m-b-10"></div>
                                <h3 class="text-accent">
                                    h3. Heading 3
                                </h3>
                                <div class="m-b-10"></div>
                                <h4 class="text-success">
                                    h4. Heading 4
                                </h4>
                                <div class="m-b-10"></div>
                                <h5 class="text-info">
                                    h5. Heading 5
                                </h5>
                                <div class="m-b-10"></div>
                                <h6 class="text-warning">
                                    h6. Heading 6
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Display headings</h5>
                    <div class="card-body">
                        <h1 class="display-1">Display 1</h1>
                        <h1 class="display-2">Display 2</h1>
                        <h1 class="display-3">Display 3</h1>
                        <h1 class="display-4">Display 4</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Paragraphs</h5>
                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor amet lomo pinterest thundercats schlitz occupy ennui irony cred. XOXO pug kickstarter, lumbersexual humblebrag lo-fi cliche locavore poke dreamcatcher you probably haven't heard of them.</p>
                        <p>
                            Farm-to-table crucifix keffiyeh, activated charcoal small batch brunch semiotics cronut cornhole shabby chic forage hashtag air plant truffaut. XOXO knausgaard subway tile cornhole kinfolk paleo ennui shaman. Tumblr tacos sustainable mumblecore pok pok,
                            DIY jianbing twee chillwave PBR&B.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Inline text elements</h5>
                    <div class="card-body">
                        <p>
                            Styling for common inline HTML5 elements.
                        </p>
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                        <p><del>This line of text is meant to be treated as deleted text.</del></p>
                        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                        <p><u>This line of text will render as underlined</u></p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p><strong>This line rendered as bold text.</strong></p>
                        <p><em>This line rendered as italicized text.</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Color text</h5>
                    <div class="card-body">
                        <p class="text-primary">.text-primary</p>
                        <p class="text-secondary">.text-secondary</p>
                        <p class="text-success">.text-success</p>
                        <p class="text-danger">.text-danger</p>
                        <p class="text-warning">.text-warning</p>
                        <p class="text-info">.text-info</p>
                        <p class="text-light bg-dark">.text-light</p>
                        <p class="text-dark">.text-dark</p>
                        <p class="text-muted">.text-muted</p>
                        <p class="text-white bg-dark">.text-white</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Color text links</h5>
                    <div class="card-body">
                        <p><a href="#" class="text-primary">Primary link</a></p>
                        <p><a href="#" class="text-secondary">Secondary link</a></p>
                        <p><a href="#" class="text-success">Success link</a></p>
                        <p><a href="#" class="text-danger">Danger link</a></p>
                        <p><a href="#" class="text-warning">Warning link</a></p>
                        <p><a href="#" class="text-info">Info link</a></p>
                        <p><a href="#" class="text-light bg-dark">Light link</a></p>
                        <p><a href="#" class="text-dark">Dark link</a></p>
                        <p><a href="#" class="text-muted">Muted link</a></p>
                        <p><a href="#" class="text-white bg-dark">White link</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">Unstyled List</h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                            <li>Facilisis in pretium nisl aliquet</li>
                            <li>Nulla volutpat aliquam velit
                                <ul>
                                    <li>Phasellus iaculis neque</li>
                                    <li>Purus sodales ultricies</li>
                                    <li>Vestibulum laoreet porttitor sem</li>
                                    <li>Ac tristique libero volutpat at</li>
                                </ul>
                            </li>
                            <li>Faucibus porta lacus fringilla vel</li>
                            <li>Aenean sit amet erat nunc</li>
                            <li>Eget porttitor lorem</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <h5 class="card-header">Description list alignment</h5>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Description lists</dt>
                            <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                            <dt class="col-sm-3">Euismod</dt>
                            <dd class="col-sm-9">
                                <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                                <p>Donec id elit non mi porta gravida at eget metus.</p>
                            </dd>
                            <dt class="col-sm-3">Malesuada porta</dt>
                            <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                            <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                            <dt class="col-sm-3">Nesting</dt>
                            <dd class="col-sm-9">
                                <dl class="row">
                                    <dt class="col-sm-4">Nested definition list</dt>
                                    <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Blockquotes</h5>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Naming a source</h5>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">2 Column</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS. Crucifix tumblr intelligentsia, shabby chic iceland farm-to-table scenester VHS af flexitarian seitan taxidermy.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia. Try-hard pabst synth, DIY crucifix 90's marfa YOLO unicorn occupy gentrify green juice kickstarter cold-pressed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">4 Column</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS. Crucifix tumblr intelligentsia, shabby chic iceland farm-to-table scenester VHS af flexitarian seitan taxidermy.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia. Try-hard pabst synth, DIY crucifix 90's marfa YOLO unicorn occupy gentrify green juice kickstarter cold-pressed.
                                </p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS. Crucifix tumblr intelligentsia, shabby chic iceland farm-to-table scenester VHS af flexitarian seitan taxidermy.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia. Try-hard pabst synth, DIY crucifix 90's marfa YOLO unicorn occupy gentrify green juice kickstarter cold-pressed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">3 Column</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS. Crucifix tumblr intelligentsia, shabby chic iceland farm-to-table scenester VHS af flexitarian seitan taxidermy.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia. Try-hard pabst synth, DIY crucifix 90's marfa YOLO unicorn occupy gentrify green juice kickstarter cold-pressed.
                                </p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS. Crucifix tumblr intelligentsia, shabby chic iceland farm-to-table scenester VHS af flexitarian seitan taxidermy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">5 Column</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia.
                                </p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Vaporware iceland edison bulb, prism knausgaard next level YOLO shabby chic. PBR&B fingerstache chambray glossier authentic VHS.</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                    Squid air plant thundercats listicle, austin craft beer gluten-free cred. Post-ironic PBR&B yr intelligentsia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>